<div class="col mb-6">
  <div class="card h-100">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="./../../assets/img/{{trabajador.id}}.jpg" alt="Card image cap">  <!-- completar src con la foto del trabajador -->
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">{{trabajador.nombre}} </h4>   <!-- Mostrar nombre del trabajador -->
      <h5> ({{trabajador.cargo}})</h5>                     <!-- Mostrar cargo del trabajador -->
      <!--Text-->
      <p class="card-text">Votos:&nbsp;{{trabajador.votos}}      <!-- Mostrar votos del trabajador -->
        <img src="./../../assets/img/like.jpg" (click)="like(trabajador.id)">&nbsp;    <!-- Mostrar en src imagen like.jpg   y llamar a funcion like   con el id del trabajador -->
        <img src="./../../assets/img/unlike.jpg" (click)="unlike(trabajador.id)">&nbsp;     <!-- Mostrar en src imagen unlike.jpg y llamar a funcion unlike con el id del trabajador -->
      </p>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-danger" (click)="borrarTrabajador(trabajador.id)">Borrar Trabajador</button> <!--llamar a funcion eliminar con el id del trabajador -->
    </div>

  </div>
  <!-- Card -->
</div>
